extends layout

block content
  .well
    h1= title
    div#status
  .well#messageContainer
  .input-group.input-group-lg
    input#message.form-control(placeholder="OH HAI!")
    span.input-group-btn
      button#btn-post.btn.btn-primary Post
  #webcamPreview

block sidebar
  #sidebar.list-group
