doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='/primus/primus.js')
    script(src='/js/site.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    block sidebar
